/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px; /* Set the fixed height of the footer here */
    line-height: 20px; /* Vertically center the text there */
    font-size: 10px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}